html {
  height: 100%;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bf4e30), to(black));
  background-image: linear-gradient(#bf4e30, black);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: auto;
  margin-bottom: -5px;
  padding: 0;
  width: 1200px;
  background-color: #84acce;
  font-size: 16px;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #e8db7d;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  font-family: 'Kaushan Script', cursive;
  color: red;
}

.wrapper {
  padding: 0px;
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 5px;
  background-color: #e8db7d;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.column h1 {
  background-color: #c0f8d1;
  width: 80%;
  margin: auto;
  border: 1px solid #AAA;
  padding: 5px;
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}

img {
  border: 2px solid #AAA;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  margin: 10px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.uploaderTag {
  position: relative;
  z-index: 2;
  background-color: #c0f8d1;
  max-width: 100%;
  border: 1px solid #AAA;
}

.uploaderTag p {
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe-info {
  background-color: #c0f8d1;
  border: 1px solid #AAA;
  border-radius: 10px;
  margin: auto;
  margin-top: 15px;
  width: 80%;
}

.home-content {
  background-color: #c0f8d1;
  border: 1px solid #AAA;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d3142), to(black));
  background-image: linear-gradient(#2d3142, black);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: #c0f8d1;
}

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
  }
  .columns .column:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
  }
  .tabs {
    width: 85%;
  }
}

@media screen and (max-width: 680px) {
  .columns .column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 0 5px 0;
  }
  .tabs {
    width: 85%;
  }
}
/*# sourceMappingURL=style.css.map */